main {
  background-color: $bg-main;
  @include p;
  .primaSezione {
    @include m-section;
    border: 1px solid darkred;
    @include b-rad;
    @include p;
    .titoloSezione {
      @include titoloni;
      border-bottom: 1px solid darkred;
    }
    .descrizioneSezione {
      font-size: 1.5em;
      padding: 0 2em;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  .secondaSezione {
    @include m-section;
    border: 1px solid navy;
    @include b-rad;
    @include p;
    .titoloCard {
      @include titoloni;
      border-bottom: 1px solid navy;
    }
    .containerCard {
      padding: 1em;
      justify-content: space-around;
      .card {
        padding: 0;
        width: 225px;
        margin: 1em;
        .card-body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
    img {
      @include b-rad;
      height: 150px;
    }
  }
  .terzaSezione {
    .titoloSezione {
      @include titoloni;
    }
    .caroselSezione {
      @include m-section;
      display: flex;
      justify-content: center;
      @include p;
      .carousel {
        width: 50%;
        background-color: black;
        @include b-rad;
        .carousel-item {
          img {
            height: 500px;
            max-height: 500px;
            object-fit: contain;
          }
        }
      }
    }
  }
}
